@font-face {
  font-family: 'intro_black';
  src: url("../fonts/intro/intro black alt/webfont.woff2") format("woff2"), url("../fonts/intro/intro black alt/webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'intro_book_alt';
  src: url("../fonts/intro/intro book alt/intro-book-alt1-webfont.woff2") format("woff2"), url("../fonts/intro/intro book alt/intro-book-alt1-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'intro_bold';
  src: url("../fonts/intro/intro bold/intro-bold.woff2") format("woff2"), url("../fonts/intro/intro bold/intro-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'intro_light';
  src: url("../fonts/intro/intro light/intro-light.woff2") format("woff2"), url("../fonts/intro/intro light/intro-light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
header {
  padding: 20px 0;
  position: relative; }
  header .header_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden; }
    header .header_row .nav_menu {
      display: flex;
      justify-content: space-between;
      list-style: none; }
      header .header_row .nav_menu li {
        color: #a7a7a7;
        display: flex;
        align-items: center; }
        header .header_row .nav_menu li i {
          font-size: 10px;
          margin-left: 20px;
          transition: .5s ease-out; }
        header .header_row .nav_menu li a {
          text-decoration: none;
          margin-left: 20px;
          font-size: 12px;
          text-transform: uppercase;
          color: #a7a7a7;
          transition: .5s ease-out; }
        header .header_row .nav_menu li:hover a, header .header_row .nav_menu li:hover i {
          color: #000;
          transition: .5s ease-out; }
    header .header_row .burger {
      display: none; }

.swiper-container {
  width: 100%;
  height: 500px; }
  .swiper-container .swiper-wrapper {
    display: flex;
    align-items: center; }
    .swiper-container .swiper-wrapper .swiper-slide {
      height: 100%;
      padding: 65px 0 50px 0;
      position: relative; }
      .swiper-container .swiper-wrapper .swiper-slide .slide_title {
        width: 70%; }
        .swiper-container .swiper-wrapper .swiper-slide .slide_title h2 {
          font-size: 72px;
          line-height: 70px;
          font-family: 'intro_black', sans-serif; }
        .swiper-container .swiper-wrapper .swiper-slide .slide_title p {
          font-size: 24px;
          font-family: intro_book_alt, sans-serif;
          margin: 25px 0; }
        .swiper-container .swiper-wrapper .swiper-slide .slide_title span, .swiper-container .swiper-wrapper .swiper-slide .slide_title li {
          color: #898989; }
      .swiper-container .swiper-wrapper .swiper-slide .link {
        margin-top: 40px; }
        .swiper-container .swiper-wrapper .swiper-slide .link .button_link {
          font-family: intro_bold, sans-serif;
          text-transform: uppercase;
          padding: 10px 30px;
          color: #fff;
          background: linear-gradient(180deg, #5bb9df 29%, #7dd2f4 100%);
          text-decoration: none;
          border-radius: 10px;
          font-size: 18px;
          box-shadow: 0 30px 20px -18px #000; }
        .swiper-container .swiper-wrapper .swiper-slide .link span {
          margin: 0 15px; }
    .swiper-container .swiper-wrapper .slide_indoor {
      background: url("../img/indoor.jpg") no-repeat center/cover; }
    .swiper-container .swiper-wrapper .slide_mold-testing {
      background: url("../img/mold testing.jpg") no-repeat center/cover; }
    .swiper-container .swiper-wrapper .slide_thermal {
      background: url("../img/thermal.jpg") no-repeat center/cover; }
    .swiper-container .swiper-wrapper .slide_soil {
      background: url("../img/soil.jpg") no-repeat center/cover; }
    .swiper-container .swiper-wrapper .slide_water {
      background: url("../img/water.jpg") no-repeat center/cover; }
  .swiper-container .swiper-pagination.swiper-pagination-clickable {
    left: 430px; }
    .swiper-container .swiper-pagination.swiper-pagination-clickable span {
      background-color: #000;
      outline: none; }

.services-title {
  padding-top: 25px; }
  .services-title h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-family: intro_book_alt, sans-serif;
    font-weight: 100; }
  .services-title p {
    color: #898989;
    font-size: 13px;
    margin-top: 30px;
    line-height: 17px; }

.service_items {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  height: 350px; }
  .service_items .items_wrap {
    display: flex; }
  .service_items .item {
    display: block;
    border: 1px solid #ededed;
    border-top: 20px solid #47545c;
    padding: 25px 20px 10px 10px;
    font-family: intro_light, sans-serif;
    width: 160px;
    height: 100%;
    position: relative;
    transition: .5s ease-out;
    cursor: pointer; }
    .service_items .item:after {
      content: '';
      width: 95%;
      height: 12px;
      position: absolute;
      top: -17px;
      left: 2%;
      border-top: 1px solid #718997;
      border-left: 1px solid #2f3d46;
      border-bottom: 1px solid #2f3d46;
      border-right: 1px solid #2f3d46; }
    .service_items .item h3 {
      font-size: 18px;
      text-transform: uppercase;
      margin: 25px 0;
      font-weight: 100; }
    .service_items .item ul {
      line-height: 17px;
      margin-left: 14px;
      color: #898989; }
      .service_items .item ul li {
        font-size: 13px; }
    .service_items .item a {
      display: inline-block;
      text-decoration: none;
      background: linear-gradient(180deg, #5bb9df 29%, #7dd2f4 100%);
      text-transform: uppercase;
      color: #fff;
      padding: 10px;
      border-radius: 10px;
      font-size: 12px;
      font-family: intro_bold, sans-serif;
      position: absolute;
      bottom: 5px;
      opacity: 0;
      transition: .5s ease-out; }
    .service_items .item i {
      font-size: 30px; }
    .service_items .item img {
      width: 30px;
      height: 30px; }
    .service_items .item:hover {
      border-top: 20px solid #5cbce2; }
      .service_items .item:hover:after {
        border-top: 1px solid #a4e5ff;
        border-left: 1px solid #3ba1ca;
        border-bottom: 1px solid #3ba1ca;
        border-right: 1px solid #3ba1ca; }
      .service_items .item:hover a {
        opacity: 1;
        transition: .5s ease-out; }
      .service_items .item:hover i, .service_items .item:hover img {
        color: #5cbce2; }

.memberships_title {
  padding-top: 40px;
  padding-bottom: 15px; }
  .memberships_title h2 {
    font-family: intro_book_alt, sans-serif;
    font-weight: 100;
    text-transform: uppercase; }

.memberships_logo {
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
  border-top: 3px dotted #e5e7e8;
  border-bottom: 3px dotted #e5e7e8; }

#contact {
  padding: 20px 0; }
  #contact .contacts {
    background-color: #47545c;
    display: flex;
    align-items: center;
    padding: 20px;
    color: #fff; }
    #contact .contacts .info_wrapper {
      width: 50%; }
    #contact .contacts h3 {
      margin-bottom: 15px; }
    #contact .contacts p {
      font-size: 13px;
      color: #9b9c9c; }
    #contact .contacts .address {
      display: flex; }
      #contact .contacts .address .phone_number {
        margin-left: 35px; }

.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px; }

@media (max-width: 992px) {
  .service_items {
    flex-wrap: wrap;
    height: 100%;
    justify-content: center; }
    .service_items .item {
      height: 310px; }

  .swiper-container .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    left: 40%; } }
@media (max-width: 768px) {
  header .header_row .nav_menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #fff;
    padding: 20px 0;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 120px;
    z-index: 10;
    height: 260px;
    transition: .5s ease-out;
    transform: translateX(-100%); }
    header .header_row .nav_menu li a {
      font-size: 20px;
      margin-top: 10px; }
    header .header_row .nav_menu li i {
      display: none; }
  header .header_row .burger {
    display: block;
    width: 25px;
    height: 25px;
    position: relative;
    cursor: pointer;
    outline: none; }
    header .header_row .burger span {
      background-color: #000;
      width: 100%;
      height: 2px;
      display: block;
      left: 0;
      top: 12px;
      position: absolute; }
      header .header_row .burger span:after, header .header_row .burger span:before {
        content: '';
        display: block;
        background-color: #000;
        width: 100%;
        height: 2px;
        position: absolute; }
      header .header_row .burger span:after {
        top: 0;
        transform: translateY(5px); }
      header .header_row .burger span:before {
        bottom: 0;
        transform: translateY(-5px); }
  header .header_row .menu_active {
    transition: .5s ease-out;
    transform: translateX(0%); }

  .swiper-container .swiper-wrapper .swiper-slide {
    padding-top: 20px; }
    .swiper-container .swiper-wrapper .swiper-slide .slide_title {
      width: 80%; }
      .swiper-container .swiper-wrapper .swiper-slide .slide_title h2 {
        font-size: 58px;
        line-height: 58px; }
      .swiper-container .swiper-wrapper .swiper-slide .slide_title p {
        font-size: 20px; }

  #contact .contacts {
    flex-direction: column; }
    #contact .contacts .info_wrapper, #contact .contacts .contacts_info {
      width: 100%;
      margin-bottom: 5px; } }
@media (max-width: 480px) {
  .swiper-container .swiper-wrapper .swiper-slide {
    background: rgba(251, 251, 251, 0.7); }
    .swiper-container .swiper-wrapper .swiper-slide .slide_title {
      width: 100%; }
      .swiper-container .swiper-wrapper .swiper-slide .slide_title h2 {
        font-size: 48px;
        line-height: 48px; }
    .swiper-container .swiper-wrapper .swiper-slide .link {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .swiper-container .swiper-wrapper .swiper-slide .link a {
        align-self: end;
        margin: 0 auto; }
  .swiper-container .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    left: 0; }

  .service_items .items_wrap {
    flex-direction: column; }

  .memberships_logo {
    flex-direction: column;
    align-items: center; }
    .memberships_logo img {
      width: 50%;
      margin-top: 10px; }

  #contact .contacts {
    text-align: center; }
    #contact .contacts .contacts_info .address {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      #contact .contacts .contacts_info .address .phone_number {
        margin: 0; } }
@media (max-width: 400px) {
  .swiper-container .swiper-wrapper .swiper-slide .slide_title p {
    margin: 15px 0; }
  .swiper-container .swiper-wrapper .swiper-slide .link {
    margin-top: 20px; }
    .swiper-container .swiper-wrapper .swiper-slide .link a.button_link {
      font-size: 16px; }

  footer .footer {
    flex-direction: column;
    line-height: 25px;
    text-align: center; } }
.pop-up_login {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  transition: .5s ease-out;
  z-index: -3; }
  .pop-up_login .login_frame {
    background-color: #fff;
    width: 480px;
    border-radius: 10px;
    position: relative; }
    .pop-up_login .login_frame .login_title {
      text-align: center;
      padding: 35px 0;
      border-bottom: 1px solid #b0b0b0; }
      .pop-up_login .login_frame .login_title h2 {
        font-size: 24px;
        font-family: intro_book_alt, sans-serif;
        text-transform: uppercase; }
    .pop-up_login .login_frame .login_form {
      padding: 25px 0;
      text-align: center;
      color: #bdbdbd;
      font-size: 13px;
      border-bottom: 1px solid #b0b0b0; }
      .pop-up_login .login_frame .login_form form {
        display: flex;
        flex-direction: column;
        margin-top: 30px; }
        .pop-up_login .login_frame .login_form form input[type="text"] {
          padding: 15px 10px;
          outline: none;
          border-radius: 3px;
          border: 1px solid #8b8b8b;
          margin-bottom: 15px;
          width: 230px; }
          .pop-up_login .login_frame .login_form form input[type="text"]::placeholder {
            color: #bdbdbd;
            font-size: 13px; }
        .pop-up_login .login_frame .login_form form input[type="checkbox"] {
          margin-top: 10px;
          margin-bottom: 25px;
          outline: none;
          border: 1px solid #8b8b8b;
          margin-left: 10px; }
        .pop-up_login .login_frame .login_form form button[type="submit"] {
          padding: 10px 20px;
          width: 90px;
          margin: 0 auto;
          border: none;
          color: #fff;
          background: linear-gradient(180deg, #5bb9df 29%, #7dd2f4 100%);
          text-transform: uppercase;
          font-family: intro_bold, sans-serif;
          font-size: 12px;
          border-radius: 10px;
          cursor: pointer; }
    .pop-up_login .login_frame .register {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25px 0;
      line-height: 23px; }
      .pop-up_login .login_frame .register a {
        font-size: 13px;
        color: #5dbce2; }
      .pop-up_login .login_frame .register a + * {
        color: #8b8b8b;
        text-decoration: none; }
    .pop-up_login .login_frame .close_btn {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer; }
      .pop-up_login .login_frame .close_btn span {
        display: block;
        background-color: #000;
        width: 100%;
        height: 2px;
        position: absolute;
        top: 12px;
        transform: rotate(45deg); }
        .pop-up_login .login_frame .close_btn span:after {
          content: '';
          display: block;
          background-color: #000;
          width: 100%;
          height: 2px;
          transform: rotate(-90deg); }

.login_active {
  opacity: 1;
  transition: .5s ease-out;
  z-index: 15; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif; }

.container {
  margin: 0 auto;
  max-width: 96%;
  width: 970px; }

/*# sourceMappingURL=style.css.map */
