#contact {
  padding: 20px 0;
  .container {
    justify-content: space-around;
    background-color: #47545c;
    display: flex;
    align-items: center;
    padding: 20px;
    color: #fff;
    .info_wrapper {
      width: 50%;
    }
    h3 {
      font-family: intro_light, sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 15px;
      font-weight: 100;
    }
    p {
      font-size: 13px;
      color: #9b9c9c;
    }
    .address {
      display: flex;
      .phone_number {
        margin-left: 35px;
        p {
          color: #fff;
        }
        a {
          text-decoration: none;
          color: #9b9c9c;
          &:hover {
            color: #26b4f0;
          }
        }
      }
    }
  }
}