footer {
  .container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    a {
      color: #9b9c9c;
      text-decoration: none;
      &:hover {
        color: #26b4f0;
      }
    }
  }
}