.memberships_title {
  padding-top: 40px;
  padding-bottom: 15px;
  h2 {
    font-family: intro_book_alt, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
  }
}
.memberships_logo {
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
  border-top: 3px dotted #e5e7e8;
  border-bottom: 3px dotted #e5e7e8;
}